<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940741776584-dfrhfn39uk50e2fj28kmu51m5d15mqmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940741776584-dfrhfn39uk50e2fj28kmu51m5d15mqmm</string>
	<key>API_KEY</key>
	<string>AIzaSyCC7ck_UTRL0K5x4ZJlTtYIeC2zhl-8T_c</string>
	<key>GCM_SENDER_ID</key>
	<string>940741776584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusSubsystem</string>
	<key>PROJECT_ID</key>
	<string>campus-76c01</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-76c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940741776584:ios:f67ae7a8769c5a2df6c1fd</string>
</dict>
</plist>